{% extends "layout.html" %}
{% block content %}
    <h2 class="title_page">Archimaide</h2>
    <div class="presentation">
        <p>C’est en 2015 qu’Archim’Aide, association de <span class ="accueil_p_color">Kedge Business School Bordeaux</span>
            , a été créée dans le but
            d’accompagner au mieux des jeunes défavorisés dans leur réussite scolaire. Depuis sa création,
            <span class ="accueil_p_color">Archim’Aide</span> s’est donné pour mission de lutter pour l’égalité des chances dans le milieu scolaire en
            intervenant auprès d’élèves qui n’ont pas toutes les opportunités qu’ils méritent pour réussir, tant sur
            le plan académique que professionnel. </p>

        <p> Notre approche se concentre sur le soutien individualisé et l’accompagnement adapté à chaque élève.
            Nous croyons fermement que chaque jeune a le potentiel de réussir, mais que certains obstacles
            socio-économiques peuvent entraver leur parcours. Pour remédier à cela, Archim’Aide s’engage à offrir
            des <span class ="accueil_p_color">ressources et des outils</span> qui permettront à ces jeunes de surmonter les défis qu’ils rencontrent. </p>

        <p> En agissant dans ces différents contextes, Archim’Aide vise à créer un environnement propice à
            l’apprentissage, où chaque élève se sent soutenu et valorisé. Grâce à notre engagement et à nos actions
            concrètes, nous œuvrons chaque jour pour que ces jeunes aient toutes les chances de réussir et de
            s’épanouir tant sur le plan scolaire que personnel. </p>

        <p> L’association collabore activement avec un collège, un lycée, et trois centres sociaux. Ces partenariats
            stratégiques nous permettent d’atteindre un large public et d’adapter nos actions aux besoins spécifiques
            de chaque établissement.</p>
    </div>
    <div class="accueil_image">
        <img src="static/images/logo_archimaide.png">
    </div>
{% endblock content %}